/* Curtain.js - Example page */

/* Google Font */
@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Sans+Narrow:700|PT+Sans);


/* RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}


/* Clearfix */
.cf:before
.cf:after { content:"";display:table; }
.cf:after { clear:both; }
.cf { zoom:1;}

/* Base Style */
body {
    font:14px/1.6 'PT Serif', serif;
    font-weight: 400;
    color:#222;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3{font-family: 'PT Sans Narrow', sans-serif;font-weight:bold;text-transform: uppercase;}
h4,h5,h6{font-family: 'PT Sans', sans-serif;font-weight:bold;}
h4{ font-size:20px; margin:1em 0 0; }
h1{font-size:20px; }
/*h1{transform: rotate(90deg); transform-origin: left top 0; float: left;}*/
p{min-height:1px;}
strong{font-weight:bold;}
hr{background: #333;border: 0;height: 2px;margin: 12px auto 8px;width: 60px;}

a{color:#352f2f;text-decoration:none;}
a:hover{color:#f0453c;}

article{
    text-align:center;
    padding:150px 0;
    width:250px;
    margin:0 auto;
}

    article h4:first-child{ margin:0; }
    article p{ text-align:justify; }



.align-center{text-align: center;}



/* Sliding panels */
.curtains>li {
    /*background:#FFF url(img/blizzard.png);*/
    /*box-shadow:0 0 7px #666;*/
}
    .curtains>li:last-child{box-shadow:none}

/* MENU */
.menu{
    position:fixed;
    top:20px;
    left:20px;
    z-index:20;
    padding:10px;
    background-color:#000;
}
    .menu li{margin:0}
    .menu a{
        margin:0;
        color:#FFF;
    }

.nev{
            position: fixed;
            top: 50px;
            left: 300px;
            width: 1000px;
        }



/* Section 1 */

#section-1{
    background:url("Content copy/bg/bg_intro-07.png")   no-repeat top center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
   
}

    #section-1 header{
        color:#FFF;
        position:absolute;
        top:17%;
        left:50%;
        margin:0px 0 0 -500px;
        width:1000px;
        text-align:center;
        text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
        line-height:1.1;
    }

    #section-1 h1{
        font-size:200px;
        opacity: 1;
        color:#f0453c;
    }

    #section-1 h2{
        text-transform:capitalize;
        opacity:.9;
        color:#f0453c;
        font-size:55px;
    }

  #section-1 h3{
        text-transform:capitalize;
        font-weight: 400;
        opacity:.7;
        color:#352f2f;
        font-size:20px;
        text-shadow: 0 0px 0px rgba(0, 0, 0, .5);
    }


/* Section 2 */
#section-2{
    
    background:url("Content copy/bg/bg-01.png")   no-repeat top center fixed;
    background-color: rgb(173, 255, 215);

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover
}
 #section-2 header{
        
        margin:150px 0 0 80px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-2 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }

#section-2 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-2 .photos > :last-child{margin-bottom:0}

        #section-2 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-2 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-2  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        } 

/* Section 3 */
#section-3{
    
    background:url("Content copy/bg/bg-02.png")   no-repeat top center fixed;
    background-color: rgb(123, 226, 217);
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    

}
#section-3 header{
        
        margin:150px 0 0 80px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-3 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }
#section-3 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-3 .photos > :last-child{margin-bottom:0}

        #section-3 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-3 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-3  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        } 



        /* Section 4 */
#section-4{
    
    background:url("Content copy/bg/bg-03.png")   no-repeat top center fixed;
    background-color: rgb(251,203, 149);
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
    

}

#section-4 header{
        
        margin:150px 0 0 80px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-4 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }
    #section-4 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-4 .photos > :last-child{margin-bottom:0}

        #section-4 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-4 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-4  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        }

        /* Section 5 */
#section-5{
     background:url("Content copy/bg/bg-04.png")   no-repeat top center fixed;
    background-color: #eba9ab;
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    
    

}

#section-5 header{
        
        margin:150px 0 0 80px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-5 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }
    #section-5 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-5 .photos > :last-child{margin-bottom:0}

        #section-5 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-5 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-5  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        }



        /* Section 6 */
#section-6{
    background:url("Content copy/bg/bg-05.png")   no-repeat top center fixed;
    background-color: rgb(229,179, 210);
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
     
    

}
#section-6 header{
        
        margin:150px 0 0 60px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-6 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }

    #section-6 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-6 .photos > :last-child{margin-bottom:0}

        #section-6 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-6 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-6  .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        }


 /* Section 7 */
#section-7{
    
   background:url("Content copy/bg/bg-06.png")   no-repeat top center fixed;
    background-color: #99ffff;
    background-size:cover;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
     
    

}
#section-7 header{
        
        margin:150px 0 0 30px;
        width:1000px;
        text-align:center;
        line-height:1.1;
    }
#section-7 h1{
        font-size:120px;
        opacity: .85;
        color:#f0453c;
    }
    #section-7 .photos{
        padding:150px 0;
        width:620px;
        margin-left:150px;
    }
        #section-7 .photos > :last-child{margin-bottom:0}

        #section-7 .fixed{
            position: fixed;
            top: 150px;
            left: 150px;
            width: 200px;
        }

        #section-7 .photos-inner{
            margin-left:220px;
            width:600px;
        }

        #section-7 .photos-inner img{
            display:block;
            margin:0 0 4em 0;
            max-width:100%;
            background: #fff; 
            border-radius: 1px; 
            padding: 14px 14px 14px 14px; 
            box-shadow: 0 1px 3px rgba(0,0,0,.2), 0 1px 0 rgba(0,0,0,.1); 
        }




/* Section 8 */
#section-8{
    
    background:url() 100% 0 no-repeat;
    background-size:cover;
    
    

}
 #section-8 header{
            
            top: 50px;
            left: 600px;
            width: 1000px;
        }

    #section-8 .photos{
        padding:50px 0;
        width:620px;
        margin-left:150px;
    }
        #section-8 .photos > :last-child{margin-bottom:0}

        #section-8 .moma{
            
            top: 150px;
            margin-left: 450px;
            width: 300px;
        }

        