body {
  width:1150px;
}

.circle {
  float:left;
  border-radius: 50%;
  border: 2px solid black;
  width: 15px;
  height: 15px;
 
}

.active {
  float:left;
  border-radius: 50%;
  border: 2px solid black;
  width: 13px;
  height: 13px;
  border: 3px solid black;

}




